.container {
  height: calc(100vh - 13rem);
  width: 100%;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // height: 100%;
  width: 100%;
}

.formContainer {
  background-color: peachpuff;
  opacity: .6;
  width: 40%;
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form {
  height: 40vh;
  width: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;

  button {
    font-size: 1.6rem;
    color: white;
    background-color: lightseagreen;
    padding: .4rem .8rem;
    border: none;
    width: 7rem;
    outline: none;
  }
}

.formGroup {
  margin: 10px 0;
  padding: 5px 15px;
  text-align: left;
  width: 30rem;
  max-width: 40rem;

  label {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 15px;
  }

  input {
    width: 100%;
    height: 4rem;
    padding: .4rem 1rem;
    outline: none;
    border-radius: 8px;
    border: none;
    background-color: lightseagreen;
    font-size: 2rem;
  }

}

.preview {
  flex-basis: 50%;
}

.genie {
  flex-basis: 40%;
  height: 60vh;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
