.navbar {
  height: 10rem;
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navItem {
  padding: 0 4rem;
}

.logo {
  width: 6rem;
  object-fit: contain;
}