.page {
  width: 100%;
  height: 100%;
  border-left: 40px solid #fff;
  background-color: #256c92;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'proxima-nova';
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.content {
  height: calc(100% - 70px);
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  min-width: 30rem;
  height: 45rem;

  h1 {
    font-size: 48px;
    text-align: left;
    padding: 0 1.4rem;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-align: left;
    padding: 0 1.4rem;
  }

  .formGroup {
    padding: 0.4rem 1.4rem;
    text-align: left;
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;

    label {
      font-size: 16px;
      font-weight: 700;
      color: #66dbe0;
      margin: 1rem 0rem;
    }

    input {
      width: 100%;
      height: 4rem;
      padding: 0.4rem 1rem;
      outline: none;
      border-radius: 4px;
      border: none;
      background-color: #1c5776;
      color: #ffffff;
      font-size: 1.6rem;

      &:focus {
        border: 1px solid #b9fcff;
      }
    }
  }
}

.button {
  border-radius: 4px;
  background-color: #fff;
  border: 0.2rem solid #1f5f76;
  box-shadow: 2 6 0 0 #1c5776;
  width: 142px;
  height: 42px;
  font-size: 1.6rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
    // border: inherit;
    border: 0.2rem solid #1f5f76;
    box-shadow: 2 6 0 0 #1c5776;
  }
}

.row {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #1c5776;
  width: calc(100% - 40px);
  height: 70px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0%;
}

.footerItem {
  position: relative;
  top: 50%;
  left: 11%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 1.8rem !important;
  }

  svg {
    width: 15rem !important;
    margin-left: 2rem;
  }
}

.errorMessage {
  font-size: 1.4rem;
  color: red !important;
  margin-top: 2rem;
}

.spinnerContainer {
  font-size: 1.4rem;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7e7e7e;
  font-weight: 500;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  opacity: .2;
  background-color: black;
}

.spinner {
  height: 2rem;
  width: 2rem;
  border: 0.6rem solid #f2f1f8;
  border-top-color: #5c40cf;
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;
  opacity: 0;
  z-index: 10000;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}